---
import { componentData } from "../../components";
import CodeBlock from "../../components/CodeBlock.astro";
import ComponentList from "../../components/ComponentList.astro";
import Layout from "../../layouts/Layout.astro";
import PreviewMap from "../../components/PreviewMap.astro";

export function getStaticPaths() {
  return [
    { params: { component: "navbar" } },
    { params: { component: "sidebar" } },
    { params: { component: "card" } },
  ];
}
const { component } = Astro.params;

let componentPage: any = null;
for (const componentItem of componentData) {
  if (componentItem.name.toLowerCase() == component) {
    componentPage = componentItem;
    break;
  }
}
---

<Layout title={componentPage.name}>
  <main class="flex w-full min-w-[100vw] h-full">
    <ComponentList transition:persist />
    <section
      class="flex flex-col w-full bg-opacity-20 gap-16 px-32 py-20">
      <h1
        id="componentName"
        class="text-white text-3xl text-center font-bold">
        {componentPage.name}
      </h1>
      <PreviewMap component={componentPage.name} />
      <CodeBlock code={componentPage.code} />
    </section>
  </main>
</Layout>
