---
import ComponentList from "../components/ComponentList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Components">
  <main class="flex w-full min-w-[100vw] h-full">
    <ComponentList transition:persist />
    <section
      class="w-full h-full flex justify-center items-center">
      this is where some content would go
    </section>
  </main>
</Layout>

<style>
  main {
    width: 800px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
