---
import Layout from "../layouts/Layout.astro";
import ComponentList from "../components/ComponentList.astro";
import CardLink from "../components/CardLink.astro";
---

<Layout title="Components">
  <main
    class="flex w-full min-w-[100vw] min-h-[100vh] h-full max-w-[100vw]">
    <ComponentList />
    <section
      class="h-full flex p-20 flex-col gap-10 min-h-[100vh] items-center w-full xl:w-4/5">
      <div class="w-full flex justify-center">
        <h1
          class="font-extrabold text-center max-w-[600px] text-white">
          Just
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-emerald-500 to-cyan-500 via-teal-500">
            HTML & Tailwind
          </span>
        </h1>
      </div>
      <p class="text-white text-center font-semibold mt-10">
        Copy paste into any frontend.
      </p>
      <div
        class="grid grid-cols-2 xl:grid-cols-3 gap-5 w-full h-full">
        <CardLink title="Buttons" link="/button" />
        <CardLink
          title="Navigation"
          link="/modern-navbar"
        />
        <CardLink title="Cards" link="/full-image-card" />
        <CardLink title="Heros" link="/hero" />
        <CardLink title="Forms" link="/contact-form" />
        <CardLink title="Footers" link="/footer" />
      </div>
    </section>
  </main>
</Layout>
<style>
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-family: "Roboto", serif;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
  }
</style>
