---
import Layout from "../layouts/Layout.astro";
import ModernNav from "../components/Previews/ModernNav.astro";
---

<Layout title="test">
  <main
    class="min-h-[100vh] min-w-[100vw] flex justify-center items-center">
    <ModernNav />
  </main>
</Layout>
