---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Previews/Footer.astro";
---

<Layout title="test">
  <main
    class="min-h-[100vh] min-w-[100vw] flex justify-center items-center">
    <Footer />
  </main>
</Layout>
