---
import { Code } from "astro:components";

const { code } = Astro.props;
---

<div
  class="flex h-fit bg-[#1b1e28] p-10 relative rounded-lg">
  <div
    id="copy"
    data-code={code}
    class="text-white absolute right-5 cursor-pointer hover:opacity-30 duration-200 font-semibold active:scale-95">
    Copy
  </div>
  <Code code={code} lang="html" theme="poimandres" />
</div>

<script>
  const copy = document?.getElementById("copy");

  copy?.addEventListener("click", function (event: any) {
    console.log("copu");
    const code = event?.target.getAttribute("data-code");
    navigator.clipboard.writeText(code);
  });
</script>
