---
import ComponentMap from "./ComponentMap.astro";
---

<div
  class="mr-auto w-1/5 min-w-[250px] h-screen hidden xl:block">
  <section
    transition:persist
    id="sideNav"
    class="mr-auto w-1/5 h-full hidden xl:flex flex-col font-semibold text-lg min-w-[250px] bg-opacity-20 overflow-y-scroll fixed side-scroll">
    <ComponentMap />
  </section>
</div>
<div
  id="mobileMenu"
  class="w-16 absolute top-0 left-0 h-screen z-10 duration-500 side-scroll show-scroll">
  <section class="xl:hidden flex">
    <div
      id="hamburger"
      class="flex flex-col gap-1 absolute top-5 right-5 cursor-pointer">
      <span id="top" class="bg-white h-0.5 w-6 duration-300"
      ></span>
      <span id="mid" class="bg-white h-0.5 w-6 duration-100"
      ></span>
      <span
        id="bottom"
        class="bg-white h-0.5 w-6 duration-300"></span>
    </div>
  </section>
  <div id="map" class="hidden flex-col side-scroll">
    <ComponentMap />
  </div>
</div>

<script>
  document?.addEventListener("astro:page-load", () => {
    const sideNav = document.getElementById("sideNav");
    sideNav?.addEventListener("mouseenter", () => {
      // show scroll bar
      sideNav?.classList.add("show-scroll");
    });
    sideNav?.addEventListener("mouseleave", () => {
      // hide scroll bar
      sideNav?.classList.remove("show-scroll");
    });

    const hamburger = document.getElementById("hamburger");
    hamburger?.addEventListener("click", () => {
      const top = document.getElementById("top");
      const mid = document.getElementById("mid");
      const bottom = document.getElementById("bottom");
      const menu = document.getElementById("mobileMenu");
      const map = document.getElementById("map");

      top?.classList.toggle("rotate-45");
      top?.classList.toggle("translate-y-3");
      mid?.classList.toggle("opacity-0");
      bottom?.classList.toggle("-rotate-45");
      menu?.classList.toggle("bg-slate-900");
      menu?.classList.toggle("bg-opacity-90");
      menu?.classList.toggle("w-16");
      menu?.classList.toggle("w-full");
      map?.classList.toggle("flex");
      map?.classList.toggle("hidden");
      menu?.classList.toggle("overflow-y-scroll");
      document?.body?.classList.toggle("overflow-hidden");
      if (menu?.classList.contains("w-full")) {
        setTimeout(() => {
          hamburger?.classList.toggle("absolute");
          hamburger?.classList.toggle("fixed");
          hamburger?.classList.toggle("right-5");
          hamburger?.classList.toggle("right-7");
        }, 500);
      } else {
        hamburger?.classList.toggle("absolute");
        hamburger?.classList.toggle("fixed");
        hamburger?.classList.toggle("right-5");
        hamburger?.classList.toggle("right-7");
      }
    });
  });
</script>

<style>
  .side-scroll::-webkit-scrollbar {
    width: 6px;
    /* border-radius: 10px; */
  }

  ::-webkit-scrollbar-track {
    /* background-color: #666; */
  }

  .side-scroll::-webkit-scrollbar-thumb {
    scroll-behavior: smooth;
    background-color: rgba(95, 179, 161, 0.1);
    border-top-right-radius: var(--thumb-radius-top);
    border-top-left-radius: var(--thumb-radius-top);
    border-bottom-right-radius: var(--thumb-radius-bottom);
    border-bottom-left-radius: var(--thumb-radius-bottom);
  }

  .show-scroll::-webkit-scrollbar-thumb {
    transition: background-color 4.5s ease-in-out;
    background-color: rgba(95, 179, 161, 1);
    /* background-color: #5fb3a1; */
  }
</style>
