---
import Navbar from "./Previews/Navbar.astro";
import Card from "./Previews/Card.astro";
import FullImageCard from "./Previews/FullImageCard.astro";
import Hero from "./Previews/Hero.astro";
import ContactForm from "./Previews/ContactForm.astro";
import HamburgerAnimation from "./Previews/HamburgerAnimation.astro";

const { component } = Astro.props;
const componentData = [component.replace(/"/g, "")];
---

{
  componentData.map((componentt: string) => {
    switch (component) {
      case "Navbar":
        return <Navbar {...component} />;
      case "Card":
        return (
          <div class="w-full flex justify-center">
            <Card {...component} />
          </div>
        );
      case "Full Image Card":
        return (
          <div class="w-full flex justify-center">
            <FullImageCard {...component} />
          </div>
        );
      case "Hero":
        return (
          <div class="w-full flex justify-center">
            <Hero {...component} />
          </div>
        );
      case "Contact Form":
        return (
          <div class="w-full flex justify-center">
            <ContactForm {...component} />
          </div>
        );
      case "Hamburger Animation":
        return (
          <div class="w-full flex justify-center">
            <HamburgerAnimation {...component} />
          </div>
        );
      default:
        return (
          <div class="w-full flex justify-center">
            <h1 class="text-white font-semibold p-5">
              No preview yet...
            </h1>
          </div>
        );
    }
  })
}
